@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import './variables.scss';

@font-face {
    font-family: "Brittany";
    src: url("../assets/fonts/brittany/Brittany.ttf")
  }

*::-webkit-scrollbar {
    width: 13px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, $primary-color 30%, $tertiary-color 100%);
    border-radius: 8px;
    border: 3px solid #ffffff;
  }

.brittany {
    font-family: "Brittany";
  }
  

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    position: relative;
}

h1 {
    font-weight: lighter !important;
}

.btn-primary {
    background: linear-gradient(180deg, $primary-color 30%, $secondary-color 100%) !important;
}

.seccion-principal {
    background-image: url('../pages/Home/img/fondo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    .titulo-principal {
        font-size: 3rem;
    }
}

.equipo {
    background-image: url('../pages/Home/img/equipo.webp');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 125px;
    right: 125px;
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

.estudio {
    width: 300px;
    height: 200px;
    background-image: url('../pages/Home/img/estudio-de-danza.jpg');
    background-size: cover;
    border-radius: 5%;
}

.contenedor-imagen {
        top: 30px;
    .bailarina {
        width: 600px;
        top: 20px;
    }
}

.card {
    border: none !important;
    background-color: $dark-color !important;
    width: 25% !important;
}

.card-img, .card-img-bottom, .card-img-top {
    border-radius: 50%;
}

// CLASES

.portada-1 {
    background-image: url('../pages/Home/img/niños.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 70vh;
    filter: brightness(0.6);
    background-attachment: fixed;
}

.portada-2 {
    background-image: url('../pages/Home/img/adolescentes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 6%;
    min-height: 70vh;
    filter: brightness(0.6);
    background-attachment: fixed;
}

.portada-3 {
    background-image: url('../pages/Home/img/jovenes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 30%;
    min-height: 70vh;
    filter: brightness(0.6);
    background-attachment: fixed;
}

.letter-spacing {
    letter-spacing: 4px;
}

// TESTIMONIOS
.card-testimony {
    background-color: $secondary-color !important;
    width: 25% !important;
}

.card-testimony:after,
    .card-testimony:before {      
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      content: "";
      transition: transform 0.3s ease-in;
    }

    .card-testimony:before {
      border-left: 3px solid $primary-color;
      border-right: 3px solid $primary-color;
      transform: scaleY(0);
    }

    .card-testimony:after {
      border-bottom: 3px solid $primary-color;
      border-top: 3px solid $primary-color;
      transform: scaleX(0);
    }

    .card-testimony:hover:before {
      transform: scaleY(1);
    }

    .card-testimony:hover:after {
      transform: scaleX(1);
    }


// CONTACTO
.bg-contacto {
    background-image: url('../pages/Contacto/fondo-contacto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 70vh;
    filter: brightness(0.6);
    background-attachment: fixed;
}

footer {
    background-color: $dark-color;
    img {
        width: 150px;
    }
}   

@media (max-width: 768px) {
    .seccion-principal {
        background-position: 0px;
        height: 90vh;
    }

    .card {
        width: 70% !important;
    }
}