@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@font-face {
    font-family: "Brittany";
    src: url("../assets/fonts/brittany/Brittany.ttf")
  }

:root {
    --primary-color: #4D236C;
    --secondary-color: #7e84f2;
    --tertiary-color: #6dccf2;
    --dark-color: #2c2c2c;
}

*::-webkit-scrollbar {
    width: 13px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, var(--primary-color) 30%, var(--tertiary-color) 100%);
    border-radius: 8px;
    border: 3px solid #ffffff;
  }

.brittany {
    font-family: "Brittany";
  }
  

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    position: relative;
}

h1 {
    font-weight: lighter !important;
}

.seccion-principal {
    background-image: url('../pages/Home/img/circle.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: 700px -200px;
    display: flex;
    justify-content: center;
    .titulo-principal {
        font-size: 3rem;
    }
}

.equipo {
    background-image: url('../pages/Home/img/equipo.webp');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 125px;
    right: 125px;
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

.estudio {
    width: 300px;
    height: 200px;
    background-image: url('../pages/Home/img/estudio-de-danza.jpg');
    background-size: cover;
    border-radius: 5%;
}

.contenedor-imagen {
        top: 30px;
    .bailarina {
        width: 600px;
        top: 20px;
    }
}

.cursos {
    background: linear-gradient(129deg, rgba(118,99,242,1) 0%, rgba(126,132,242,1) 38%, rgba(114,182,242,1) 69%, rgba(109,204,242,1) 93%);
}

.card {
    border: none !important;
    background-color: var(--dark-color) !important;
    width: 25% !important;
}

.card-img, .card-img-bottom, .card-img-top {
    border-radius: 50%;
}

.btn-ver {
    background: linear-gradient(129deg, rgba(118,99,242,1) 0%, rgba(126,132,242,1) 38%, rgba(114,182,242,1) 69%, rgba(109,204,242,1) 93%);
}

// CLASES

.portada-1 {
    background-image: url('../pages/Home/img/niños.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    filter: brightness(0.6);
}

.portada-2 {
    background-image: url('../pages/Home/img/adolescentes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    filter: brightness(0.6);
}

.portada-3 {
    background-image: url('../pages/Home/img/jovenes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    filter: brightness(0.6);
}


// .clase-ninios:hover {
//  filter: hue-rotate();
// }
.letter-spacing {
    letter-spacing: 4px;
}

footer {
    background-color: var(--dark-color);
    img {
        width: 150px;
    }
}

@media (max-width: 1336px) {
    .seccion-principal {
        background-position: 370px -100px;
    }
}

@media (max-width: 992px) {
    .seccion-principal {
        background-position: 350px -100px;
    }
}

@media (max-width: 768px) {
    .seccion-principal {
        background-position: 250px -60px;
        height: 90vh;
    }

    .card {
        width: 70% !important;
    }

}