@import '../../styles/variables.scss';

nav {
    .logo {
        width: 120px !important;
    }

    a {
        letter-spacing: 2px;
    }

    .dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
        background-color: transparent !important;
    }

    .active {
        border-bottom: 2px solid;
        padding-bottom: 4px;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: $dark-color;
    }
}