@import '../../styles/variables.scss';

nav {
    .logo {
        width: 120px !important;
    }

    a {
        letter-spacing: 2px;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: $dark-color;
    }
}